<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>SimpleBoard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body class="text-center d-flex">
<main class="form-signin w-100 m-auto">
    <form action="/members/login" method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input id="floatingInput" type="text" class="form-control" name="username">
            <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating">
            <input id="floatingPassword" type="password" class="form-control" name="password" autocomplete="off">
            <label for="floatingPassword">Password</label>
        </div>

        <button type="submit" class="w-100 btn btn-lg btn-primary">로그인</button>
    </form>
    <div>
        <a th:href="@{/members/new}">
            <button type="button" class="w-100 mt-1 btn btn-lg btn-secondary">회원가입</button>
        </a>
        <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    </div>
</main>
</body>
</html>