<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class = "button mb-3 float-right">
    <form id="delete-form"
          th:action="@{/posts/{id}/delete (id=${post.postId})}"
          method="post"
          style="display:inline">
        <button class="btn btn-outline-primary btn-sm btn-float right">삭제</button>
    </form>

    <form id="update-form"
          th:action="@{/posts/{id}/edit (id=${post.postId})}"
          method="get"
          style="display:inline">
        <button class="btn btn-outline-primary btn-sm btn-float right">수정</button>
    </form>
    </div>

    <div class="content">
        <section>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th scope="row" width="5%">#</th>
                    <td th:text="${post.postId}" width="8%"></td>

                    <th scope="row" width="10%">분류</th>
                    <td th:text="${post.filter}" width="13%"></td>

                    <th scope="row" width="12%">등록일</th>
                    <td th:text="${post.postDate}" width="10%"></td>

                    <th scope="row" width="12%">작성자</th>
                    <td th:text="${post.author}" width="15%"></td>
                </tr>

                <tr>
                    <th style="font-size: 30px" colspan="100%" th:text="${post.title}"></th>
                </tr>
                </tbody>
            </table>

            <p th:utext="${#strings.replace(post.contents, '<br/>', '&lt;br /&gt;')}">
            </p>

        </section>


    </div>


</div> <!-- /container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>