<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class="button mb-3">
        <a class="btn btn-outline-primary btn-sm float-right" href="/posts/new">게시글 등록</a>
    </div>

    <div class="content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>분류</th>
                <th>제목</th>
                <th>등록일자</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.postId}"></td>
                <td th:text="${post.filter}"></td>

                <td width="55%">
                    <a href="#" th:href="@{/posts/{id} (id=${post.postId})}">[[${post.title}]]</a>
                </td>
                <td th:text="${post.postDate}"></td>
                <td th:text="${post.author}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="paging text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justifiy-content-center" th:if="${totalPage != 0}">
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/posts(page=${posts.pageable.pageNumber - 1})}">Previous
                    </a>
                </li>


                <li class="page-item" th:classappend="${page == posts.pageable.pageNumber + 1} ? 'disabled'"
                    th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link"
                       th:href="@{/posts(page=${page - 1})}"
                       th:text="${page}">
                    </a>

                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/posts(page=${posts.pageable.pageNumber + 1})}">Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div> <!-- /container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>