<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>SimpleBoard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class="jumbotron">
        <h1>SimpleBoard</h1>
        </p>
        <p class="lead">SimpleBoard</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
            <a class="btn btn-lg btn-dark" href="/posts">게 시 판</a>
        </p>
    </div>
</div> <!-- /container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
