<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class=" jumbotron form-signin w-100 m-auto">
        <form action="/login" method="post">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating mb-3">
                <input
                        id="floatingInput"
                        type="text"
                        placeholder="아이디를 입력해주세요."
                        class="form-control"
                        name="username">
            </div>
            <div class="form-floating mb-3">
                <input id="floatingPassword"
                       type="password"
                       placeholder="비밀번호를 입력해주세요."
                       class="form-control"
                       name="password"
                       autocomplete="off">
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">로그인</button>
        </form>
        <div>
            <a th:href="@{/members/new}">
                <button type="button" class="w-100 mt-1 btn btn-lg btn-secondary">회원가입</button>
            </a>
        </div>
    </div>

</div> <!-- /container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>